.item-input{
	form {
		margin-top: 20px;
		div{
			display: inline;
		}
		select{
			width: 30%;
		}
		input#item_item_name{
			width: 30%;
		}
		input#item_item_amount{
			width: 20%;
		}
		.btn.btn_primary{
			width: 20%;
		}
	}
}