.item-input{
	form {
		margin-top: 20px;
		border: 1px solid #ccc;
		padding: 20px 20px 5px 20px;
		.help-inline{
			display: block;
		}
		.col-md-3{
			display: inline-block;
		}
		.field-with-errors{
			input{
				border: 1px solid red;
			}
		}
	}
}

ul.ui-autocomplete{
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid #999;
	cursor: default;
	li{
		background-color: #fff;
		border-top: solid 1px #ddd;
		margin: 0;
		padding: 0;
		a{
			color: #000;
			display: block;
			padding: 3px;
		}
	}
}


a:hover, a:focus, a:active{
	display: block;
	background-color: #999;
	text-decoration: none;
	cursor: default;
}

.item-submit{
	padding: 6px 10px;
	width: 100%;
}

.item-table{
	margin-top: 40px;
	td, th{
		padding: 5px;
	}
}

